#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.main_container {
  width: 400px;
}

.country_header {
  display: flex;
  max-height: 50px;
  background-color: rgb(238, 238, 238);
  
}

.country_header p {
  color: black;
  font-weight: bold;
}

.flag_container {
  flex-basis: 30%;
}

.flag_container img {
  height: 50px;
}

.country_info {
  padding: 1em;
}

.country_info p {
  display: flex;
}

.country_info p span {
  flex-basis: 50%;
  text-align: left;
}

.country_info p span:first-child {
  font-weight: bold;
}

.wrap {
  margin-bottom: 2rem;
  padding: 1em;
}

.filter_container {
  display: flex;
  gap: 1em;
  padding: 0.5rem;
}

.filter_container div {
  padding: 0.5rem 1rem;
  background-color: rgb(238, 238, 238);
  color: black;
}

.countries_container {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}